//========== custome mixins ==========//

//- parent -//
@mixin parent() {
  max-width: var(--parent) !important;
  width: 100%;
  margin-inline: auto;
}

//- subparent -//
@mixin subparent() {
  max-width: var(--subparent) !important;
  width: 100%;
  margin-inline: auto;
}

//- pixel border -//
@mixin pixelBorder() {
  --c-size: 4.5px;
  
  padding: var(--c-size);
  position: relative;
  isolation: isolate;
  clip-path: $clip-path;
  
  &::before, &::after {
    content: "" !important;
    position: absolute !important;
    opacity: 1 !important;
    z-index: -1 !important;
    clip-path: $clip-path;
    inset: 0;
  }
  
  // border
  &::before {
    background-color: var(--accent) !important;
  }
  
  // body
  &::after {
    inset: var(--c-size);
    background-color: var(--bg);
  }
}

//- icon buttons -//
@mixin iconBtn() {
  // TODO do this class
}

//- buttons -//
@mixin btn() {
  --bg: var(--primary);
  --c: #fff !important;
  --b: initial;
  --p: 12px;
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: 46.21px;
  --g: 5px;
  --br: 14.2183px;
  --bs: none;
  --tt: capitalize !important;
  --ls: normal;
  --lh: 26px;
  --f: initial;
  --t: initial;
  
  font-weight: 700!important;
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  font-size: var(--fs);
  padding: var(--p) !important;
  width: var(--w) !important;
  max-width: var(--max-w) !important;
  min-width: var(--min-w) !important;
  height: var(--h) !important;
  max-height: var(--max-h) !important;
  min-height: var(--min-h) !important;
  border: var(--b);
  transform: var(--t);
  filter: var(--f);
  & :is(span, img, i) {
    font-family: var(--ff, var(--font1));
    color: var(--c);
    font-size: var(--fs, 14.2183px);
    font-weight: 700;
    text-transform: var(--tt, initial);
    letter-spacing: var(--ls);
    line-height: var(--lh);
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
  // margin
  &, > .v-btn__content {
    display: flex;
    gap: var(--g);
  }

  &.stylish {
    --bg: linear-gradient(109.68deg, #F7931A 5.56%, #FFCD4D 85.08%);
    --fs: 21px;
    --h: 51px;
    @include media(max, small) {--c: #fff !important}
  }
}

@mixin btn2() {
  padding: 5px;
  min-width: 119px;
  min-height: 37px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: transparent !important;
  isolation: isolate;
  
  &::before {
    content: "" !important;
    position: absolute !important;
    opacity: 1 !important;
    display: block !important;
    inset: 0 !important;
    border-radius: inherit !important;
    background-color: transparent !important;
    
    border-left: 2px solid var(--quaternary) !important;
    border-right: 2px solid var(--tertiary) !important;
    background-image:
      linear-gradient(90deg, var(--quaternary) 30%, var(--tertiary)),
      linear-gradient(90deg, var(--quaternary) 30%, var(--tertiary)) !important;
    background-size: 100% 1.5px !important;
    background-position: 0 0, 0 100% !important;
  }

  & :is(span, img, i) {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: var(--fw, 700) !important;
    font-size: var(--fs, 16px) !important;
    line-height: var(--lh, 140%) !important;
    background: linear-gradient(99.45deg, #A093F0 7.5%, #5A9FF7 94.48%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
  }
  // margin
  &, > .v-btn__content {
    display: flex;
    gap: var(--g);
  }
}

//- cards -//
@mixin card() {
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: none;
  --bg: #EBE5E0;
  --c: var(--clr);
  --b: 2px solid #D7CBC1;
  --p: 1.5em;
  --br: 30px;
  --bs: none;
  --f: initial;
  --t: initial;

  width: var(--w) !important;
  max-width: var(--max-w) !important;
  min-width: var(--min-w) !important;
  height: var(--h) !important;
  max-height: var(--max-h) !important;
  min-height: var(--min-h) !important;
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  padding: var(--p);
  border: var(--b) !important;
  transform: var(--t);
  filter: var(--f);
}



// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
//========== custome classes ==========//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

//- limit size -//
.parent {
  @include parent;
}
.subparent {
  @include subparent;
}
.margin_global {
  padding-inline: var(--margin-global);
}
.margin_globalmobile {
  @include media(max, small) {padding-inline: var(--margin-global) !important}
}


//- icon buttons -//
.iconBtn {
  @include iconBtn;
}


//- buttons -//
.btn {
  @include btn;
}
.btn2 {
  @include btn2;
}


//- cards -//
.card {
  @include card;
}

