// @use "variables" as *;
// @use "mixins" as *;


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // default settings // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--h-navbar) + 2em);
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // delete-config-default-vuetify // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
:is(.theme--light, .theme--dark) {box-shadow: none}
:is(.v-list, .v-sheet, .v-dialog, .v-menu__content) {box-shadow: none !important}
/* card */
div.v-card:is([class*="div"], [class*="space"], [class*="center"], [class*="start"], [class*="end"], [class*="wrap"]):not([class^="t"])
{display: flex}
div.v-card:is([class*="grid"]) {display: grid}
div.v-card::before {background: transparent !important}
/* .v-overlay__scrim {background: transparent !important} */



// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // scrollbar // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
@include reducedMotion {
  ::-webkit-scrollbar {
    width: var(--w-scroll);
    height: var(--w-scroll);
    background: var(--clr-bg-scroll);
    // &:hover {background: var(--clr-bg-scroll)}
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--clr-scroll);
  }
  body {
    &::-webkit-scrollbar {
      width: calc(var(--w-scroll) + 2px);
      height: calc(var(--w-scroll) + 2px)
    }
  }
}


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // defautl color // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
:is(span, p, a, h1, h2, h3, h4, h5, h6, button, label, ul, img, button i, div i, input, textarea, th, td, .v-list-item__title,
.v-tab, .v-input .v-input__slot *, .v-data-footer__select, .v-data-footer__pagination, .v-data-footer__icons::before):not(.not_clr, .not) {
  color: var(--c);
  -webkit-text-stroke: var(--stroke, initial);
  -moz-text-stroke: var(--stroke, initial);
  -ms-text-stroke: var(--stroke, initial);
  -o-text-stroke: var(--stroke, initial);
}

body {background: var(--bg-ap)}
.v-application {
  background: center no-repeat fixed var(--bg-app) !important;
  background-size: cover !important;
}

* {caret-color: var(--caret, var(--primary)) !important}
::selection {
  background-color: #ff4081;
  color: var(--bg-ap);
}
:-webkit-autofill {
  -webkit-text-fill-color: var(--primary);
  box-shadow: 0 0 0px 1000px #000 inset;
}
.v-input__slot::before {background: var(--c)}
.v-input:hover {
  .v-input__slot::before {border-color: var(--clr-inv); opacity: .4}
}
/* // // elements-active // // */ 
:is(.primary--text, button[type].primary--text):not(.not_clr, .not) {
  color: var(--active) !important;
  :is(span, i) {color: var(--active) !important}
  .v-input__slot::after {
    background: var(--active) !important;
    border-color: var(--active) !important;
  }
}

/* // // active class // // */ 
.activeRipple {
  span {
    color: var(--active) !important;
    background-color: var(--active) !important
  }
}
.activeClass {
  background-color: var(--clr-btn) !important;
  color: var(--clr-text-btn) !important;
  & * {color: var(--clr-text-btn) !important}
}
.activeClass2 {
  background-color: var(--clr-btn) !important;
  border: 1px solid #000000 !important;
  color: var(--clr-text-btn) !important;
  & * {color: var(--clr-text-btn) !important}
}

.activeBtn {
  transition: .5s $ease-return;
  &::after, &::before {display: none !important}
  &:active {
    --bs: inset 0 6px 4px 0px rgba(0, 0, 0, .3);
  }
}


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // transition routes // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// //-- pagess --//
// .page-enter-active,
// .page-leave-active {
//   transition: opacity 150ms $ease-slide;
//   transition-delay: .2s, 0s;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

//-- layouts --//
.layout-enter-active,
.layout-leave-active {
  transition: opacity 150ms $ease-slide;
  transition-delay: .2s, 0s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}




//---------------------------------------------------------------------------------------------//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // html (tags) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
img:not(.not_html, .not) {
  --bg: none;
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: none;
  --ar: initial;
  --p: none;
  --b: none;
  --br: initial;
  --bs: initial;
  --f: none;
  --t: initial;
  --of: initial;
  
  background: var(--bg) !important;
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  aspect-ratio: var(--ar);
  padding: var(--p);
  border: var(--b);
  border-radius: var(--br);
  box-shadow: var(--bs);
  transform: var(--t);
  object-fit: var(--of);
  filter: var(--f);
}
