// Segoe
@font-face {
  font-family: 'Segoe';
  src: url(~/static/fonts/segoe-ui/Segoe-UI.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Segoe';
  src: url(~/static/fonts/segoe-ui/Segoe-UI-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Segoe';
  src: url(~/static/fonts/segoe-ui/Segoe-UI-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Segoe';
  src: url(~/static/fonts/segoe-ui/Segoe-UI-Bold-Italic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



// Cabinet Grotesk
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Thin.otf) format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Extralight.otf) format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Extrabold.otf) format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url(~/static/fonts/Cabinet-Grotesk/CabinetGrotesk-Black.otf) format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



// Clash Display
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Extralight.otf) format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Semibold.otf) format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Clash Display';
  src: url(~/static/fonts/Clash-Display/ClashDisplay-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
