// @use "mixins" as *;
@import '~vuetify/src/styles/styles.sass';
@import "mixins";

//========== Variables ==========//
:root {
  /* // // color // // */
  --error: #B65C58;
  --warning: #FFD566;
  --success: #38A169;
  --c: var(--clr);
  /* // // themes // // */
  &.light {
    // default color
    --primary: linear-gradient(197.1deg, #A093F0 6.74%, #5A9FF7 89.6%);
    --secondary: #242728;
    --tertiary: #A2C5FA;
    --quaternary: #A194F1;
    --accent: linear-gradient(0deg, #4ABCA4, #4ABCA4), #FFFFFF;;
    --active: var(--primary);
    --gradient: var(--primary);
    --gradient-2: linear-gradient(99.45deg, #A093F0 7.5%, #5A9FF7 94.48%);
    --bg-ap: #F1EDE9;
    --clr: #000000;
    --hover: hsl(288 90% 10%);
    --scroll: var(--primary);
    --bg-scroll: var(--secondary);
    // cards
    --card: #EBE5E0;
    // buttons
    --btn: #E1D8D1;
    --btn-pressed: rgba(215, 203, 193, 0.7);;
    /*--btn-inactive: #AD0FD5;*/
    --text-btn: #000000;
    // badge
    --badge: var(--primary);
    --text-badge: #000000;
    // line
    --line: #242728;
    --line-accent: #00A478;
  }
  &.dark {
    // default color
    --primary: #FFCD4D;
    --secondary: #1A1917;
    --accent: #574F42;
    --active: var(--primary);
    --bg-ap: #161513;
    --clr: #FFFFFF;
    --hover: hsl(288 90% 90%);
    --scroll: #574F42;
    --bg-scroll: #292724;
    // cards
    --card: var(--secondary);
    // buttons
    --btn: var(--primary);
    /*--btn-pressed: #AD0FD5;
    --btn-inactive: #AD0FD5;*/
    --text-btn: #1F1C14;
    // badge
    --badge: var(--primary);
    --text-badge: #1F1C14;
    // line
    --line: #292724;
  }
  /* // // fonts // // */
  --font1: 'DM Sans', sans-serif;
  --font2: 'Segoe', sans-serif;
  --font3: 'Inter', sans-serif;
  --font4: 'Poppins', sans-serif;
  --font5: 'Open Sans', sans-serif;
  --font6: 'Cabinet Grotesk', sans-serif;
  --font7: 'Clash Display', sans-serif;
  --fw: initial;
  /* // // sizes // // */
  --resizer: clamp(12px, 1vw, 16px);
  --resizer-mobile: clamp(10px, 1.5vw, 12px);
  --margin-global: 9em; // too can use 6em
  @include media(max, small) {--margin-global: clamp(1em, 5vw, 4em)}
  --parent: 1600px;
  --subparent: 1900px;
  --h-navbar: 100px;
  @include media(max, small) {--h-navbar: 80px}
  --w-scroll: 8px;
  /* // // shadows // // */
  --sombra-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));
  --sombra-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --sombra-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//========== Sidebar ==========//
$drawer-items-padding:                     32px !default;
$navigation-drawer-mini-variant-width:     96px!important;

//========== Layout ==========//
$body-bg: #20232C !default;
$content-padding:                           24px;
$sombra-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));

//========== Colors ==========//
$primary:           #A093F0;
$secondary:         #5A9FF7;
$accent:            #574F42;
$error:             #B65C58;
$warning:           #FFD566;
$success:           #38A169;
$info:              #9013FE;
$label:             #6e6e6e;
$text-grey:         #b9b9b9;
$title-grey:        #4a4a4a;
$clr-btn:           #FFCD4D;
// $clr-btn-pressed:   #AD0FD5;
// $clr-btn-inactive:  #AD0FD5;
$clr-text-btn:      #000000;
$clr-card:          hsl(210, 48%, 13%, .45);
$clr-line:          hsl(59, 83%, 53%, .5);
$clr-gradient:      linear-gradient(to right top,#356D74,#2A505C,#21394A,#1A293D,#172035,#161D33,#161E34,#192539,#1E3143,#244251,#2D5862,#387378,#449492,#53B9B1,#63E2D2);
$clr-hover:         hsl(288 90% 10%);
$card-title-color:  $label;

//========== Typography ==========//
$h1-font-size:                3rem !default;      // 28px
$h2-font-size:                2rem !default;       // 24px
$h3-font-size:                1.64rem !default;     // 22px
$h4-font-size:                1.5rem !default;     // 20px
$h5-font-size:                1.285rem !default;         // 16px
$h6-font-size:                1.142rem !default;     // 14px

//========== Card ==========//
$card-shadow: 0 3px 11px 0 #111011, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
$sombra-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-card: 4vmax;

//========== Buttons ==========//
$button-shadow: 0px 3px 11px 0px #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
$sombra-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-btn: 10px;

//========== boxes ==========//
$clip-path: polygon(
  0% var(--c-size),
  var(--c-size) var(--c-size),
  var(--c-size) 0%,
  calc(100% - var(--c-size)) 0%,
  calc(100% - var(--c-size)) var(--c-size),
  100% var(--c-size),
  100% calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) 100%,
  var(--c-size) 100%,
  var(--c-size) calc(100% - var(--c-size)),
  0% calc(100% - var(--c-size))
);
$clip-path-top: polygon(
  0% var(--c-size),
  var(--c-size) var(--c-size),
  var(--c-size) 0%,
  calc(100% - var(--c-size)) 0%,
  calc(100% - var(--c-size)) var(--c-size),
  100% var(--c-size),
  100% 100%,
  0% 100%
);
$clip-path-bottom: polygon(
  0% 0%,
  100% 0%,
  100% calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) 100%,
  var(--c-size) 100%,
  var(--c-size) calc(100% - var(--c-size)),
  0% calc(100% - var(--c-size))
);

//========== Hover ==========//
$ease: cubic-bezier(0.23, 1, 0.32, 1);
$ease-return: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-slide: cubic-bezier(0.4, 0.1, 0.7, 0.95);
$skew-right: skewX(12deg) translateX(1px);
$skew-left: skewX(-12deg) translateX(-1px);


//========== custome classes ==========//
.clr_primary {background-color: var(--primary) !important}
.clr_secondary {background-color: var(--secondary) !important}
.clr_accent {background-color: var(--accent) !important}
//
.clr {color: var(--clr) !important}
.clr_btn {background-color: var(--clr-btn) !important}
.clr_btn_pressed {background-color: var(--clr-btn-pressed) !important}
.clr_btn_inactive {background-color: var(--clr-btn-inactive) !important}
.clr_text_btn {color: var(--clr-text-btn) !important}
.clr_card {background-color: var(--clr-card) !important}
.clr_svg {fill: var(--clr) !important}
.flr {filter: invert(100%) !important}
.flr_inv {filter: invert(0%) !important}
.clr-gradient {background: var(--clr-gradient) !important}
.clr_card_2 {background-color: var(--clr-card-2) !important}


//========== other global vars ==========//

