// @use "variables" as *;


.v-application {
  .page-title {
    font-size: 2.4rem;
    color: $text-grey;
    margin-bottom: 0;
  }
  .v-card {
    .v-card__title p{
      color: $card-title-color;
      line-height: 1.33;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
    .card-dark-grey {
      color: $title-grey!important;
    }
    .card-light-grey {
      color: $label!important;
    }
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h2 {
    font-size: $h2-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h4 {
    font-size: $h4-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h5 {
    font-size: $h5-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }
  h6 {
    font-size: $h6-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .no-gutters {
    margin: 0;
  }
}

.mapContainer + footer.v-footer {
  display: none;
}

.toasted-container {
  .toasted {
    height: 50px!important;
    box-shadow: none;

    &.default {
      background: $primary!important;
    }

    &.error {
      background: $error!important;
    }

    &.success {
      background: $success!important;
    }

    &.info {
      background-color: $primary!important;
    }

    &.warning {
      background: $warning!important;
    }

    .action {
      color: $label;
    }
  }
}



// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // //  vuetify classes (components) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

//- data table -//
.v-data-table {
  --bg: transparent;
  --spacing: 20px;
  // th
  --fs-th: max(14px, 1.1em);
  --distance-th: 20px;
  // td
  --bg-td: var(--secondary);
  --p-td: 20px;
  --br-td: 30px;
  --fs-td: max(16px, 1.3125em);

  background-color: var(--bg) !important;
  table {border-spacing: 0 var(--spacing) !important}

  thead {
    transform: translateY(var(--distance-th)) !important;
    tr {
      th {
        border-bottom: none !important;
        span {
          font-size: var(--fs-th) !important;
          font-weight: bold !important;
          color: var(--accent) !important;
        }
      }
    }
  }

  tbody {
    tr {
      background-color: var(--bg-td) !important;
      td {
        padding: var(--p-td) !important;
        border-bottom: none !important;
        &:not(:has(span)), span:not(.v-btn *) {font-size: var(--fs-td) !important}
        &:first-of-type {border-radius: var(--br-td) 0 0 var(--br-td) !important}
        &:last-of-type {border-radius: 0 var(--br-td) var(--br-td) 0 !important}
      }
    }
  }

  .v-btn {
    &--icon {
      --size: 40px;
      width: var(--size) !important;
      height: var(--size) !important;
    }
  }
}

//- avatar -//
.v-avatar:not(.not_vuetify, .not) {
  img, .v-image {
    --w: 100%;
    --h: 100%;
    --br: 50%;
  }
}

//- image -//
.v-image:not(.not_vuetify, .not) {
  --bg: none;
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: none;
  --ar: initial;
  --p: none;
  --b: none;
  --br: initial;
  --bs: initial;
  --f: none;
  --t: initial;
  --o: hidden;

  background: var(--bg) !important;
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  aspect-ratio: var(--ar);
  padding: var(--p);
  border: var(--b);
  border-radius: var(--br);
  box-shadow: var(--bs);
  transform: var(--t);
  filter: var(--f);
  overflow: var(--o);
  .v-image__image {transform: var(--t)}
  .v-skeleton-loader {
    width: 100%;
    height: 100%;
    .v-skeleton-loader__card .v-skeleton-loader__card-heading {display: none !important}
    > *, > * > * {
      width: 100%;
      height: 100%;
    }
  }
}

//- defaut tabs -//
.v-tabs:not(.not_vuetify, .not) {
  --bg: var(--secondary);
  --c: var(--clr);
  --bg-active: hsl(43, 100%, 65%, .13);
  --c-active: #FFD566;
  --b: 1px solid var(--clr-line);
  --br: 10px;
  --w: max-content;
  --h: max-content;
  --p: 5px;
  --g: 1em;
  --tt: none;
  // tab
  --w-tab: initial;
  --h-tab: 100%;
  --p-tab: calc(var(--p) * 2);
  --br-tab: var(--br);
  --overflow: hidden;
  --t: none;
  --f: none;

  filter: var(--f);
  transform: var(--t);
  max-width: var(--w);
  .v-tabs-bar {
    background-color: var(--bg);
    border: var(--b);
    border-radius: var(--br);
    height: var(--h);
    .v-slide-group__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--p);
      gap: var(--g);
      .v-tab {
        padding: var(--p-tab);
        min-width: max-content;
        width: var(--w-tab);
        height: var(--h-tab);
        border-radius: var(--br-tab);
        overflow: var(--overflow);
        text-transform: var(--tt);
        color: var(--c);
        font-size: var(--fs, max(14px, 1em));
        & > * {
          font-size: 1em;
          color: var(--c);
        }
        &--active {
          background: var(--bg-active) !important;
          color: var(--c-active) !important;
          * {color: var(--c-active) !important}
        }
      }
    }
  }
  
  .v-tabs-slider {
    background-color: var(--c-active) !important;
  }
}


//- defaut slider -//
.v-input:not(.not_vuetify, .not) {
  --br: none;
  --c-label: var(--clr-inv);
  --h: 2px;
  .v-slider__track {
    &-container {border-radius: var(--br);height: var(--h); overflow: hidden}
  }
  .v-slider__thumb-label-container {
    * {color: var(--c-label) !important}
  }
}


//- defaut v-btn -//
// icon class
.v-btn--icon:not(.not_vuetify, .not) {
  --bg: initial;
  --p: initial;
  --br: 50%;
  --b: initial;
  --bs: initial;
  --bg-disabled: initial;
  --c-disabled: initial;
  --f-disabled: initial;
  --mbm-disabled: initial;
  --o-disabled: initial;

  background: var(--bg);
  padding: var(--p);
  border-radius: var(--br);
  border: var(--b);
  box-shadow: var(--bs) !important;
  &.v-btn--disabled * {
    background: var(--bg-disabled);
    color: var(--c-disabled);
    mix-blend-mode: var(--mbm-disabled);
    filter: var(--f-disabled);
    opacity: var(--o);
  }
}

// normal class
.v-btn.v-size--default:not(.not_vuetify, .not, .v-btn--icon) {
  --c: var(--clr);
  --lh: 1;
  --ls: normal;
  --t: none;
  --f: none;

  color: var(--c);
  font-size: var(--fs, max(14px, 1em));
  max-height: 2.25em;
  transform: var(--t);
  filter: var(--f);
  & :is(span, img, i) {
    text-transform: var(--tt, initial);
    letter-spacing: var(--ls);
    line-height: var(--lh);
    color: var(--c);
  }
  
  // margin
  .v-btn__content {
    display: flex;
    gap: var(--g, 5px);
  }
  
  &.v-btn--disabled {
    opacity: .5;
    background-color: var(--bg, var(--primary)) !important;
  }
}

//- default inputs -//

//- input textarea
.v-input:not(.not_vuetify, .not) {
  --h-input: 85px;
  textarea {height: var(--h-input)}
}

//- input slot
.v-text-field--solo:not(.not_vuetify, .not) {
  --bg: transparent;
  --c: #ffffff;
  --c-label: #FFFFFF;
  --c-place: #6e6e6e;
  --b: initial;
  --br: 0;
  --p: 0 12px;
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: 2.75em;
  --bs: none;
  --f: none;
  --t: none;
  --o-disabled: .5;
  // normal
  --fs: 28px;
  --fw: 700;
  --ff: var(--font1);
  --tt: none;
  --ls: normal;
  --lh: 1;
  // icon
  --fs-icon: var(--fs, 1.2em);
  // label
  --fs-label: var(--fs);
  --fw-label: var(--fw);
  --ff-label: var(--ff);
  --tt-label: var(--tt);
  --ls-label: var(--ls);
  --lh-label: var(--lh);
  --stroke-label: var(--stroke, initial);
  // placeholder
  --fs-place: 1em;
  --fw-place: var(--fw);
  --ff-place: var(--ff);
  --tt-place: var(--tt);
  --ls-place: var(--ls);
  --lh-place: var(--lh);
  --stroke-place: var(--stroke, initial);

  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  // under testing
  & .v-input__control {
    display: flex;
    justify-content: center;
  }
  // under testing
  & .v-input__slot {
    background: var(--bg) !important;
    border-radius: var(--br) !important;
    border: var(--b);
    padding: var(--p) !important;
    min-height: var(--h);
    box-shadow: var(--bs) !important;
    transform: var(--t);
    filter: var(--f);
  }
  // testing
  & i {font-size: calc(var(--fs-icon) + .3em)}
  // testing
  // text //
  & :is(input[type], button[type], textarea, .v-select__selection) {
    color: var(--c);
    font-size: var(--fs, max(14px, 1.2em));
    font-weight: var(--fw);
    font-family: var(--ff);
    text-transform: var(--tt);
    letter-spacing: var(--ls);
    line-height: var(--lh);
    -webkit-text-stroke: var(--stroke);
    -moz-text-stroke: var(--stroke);
    -ms-text-stroke: var(--stroke);
    -o-text-stroke: var(--stroke);
    // placeholder //
    &::placeholder {
      color: var(--c-place);
      font-size: var(--fs-place);
      font-weight: var(--fw-place);
      font-family: var(--ff-place);
      text-transform: var(--tt-place);
      letter-spacing: var(--ls-place);
      line-height: var(--lh-place);
      -webkit-text-stroke: var(--stroke-place);
      -moz-text-stroke: var(--stroke-place);
      -ms-text-stroke: var(--stroke-place);
      -o-text-stroke: var(--stroke-place);
    }
  }
  // label //
  & .v-label {
    color: var(--c-label);
    font-size: var(--fs-label);
    font-weight: var(--fw-label);
    font-family: var(--ff-label);
    text-transform: var(--tt-label);
    letter-spacing: var(--ls-label);
    line-height: var(--lh-label);
    -webkit-text-stroke: var(--stroke-label);
    -moz-text-stroke: var(--stroke-label);
    -ms-text-stroke: var(--stroke-label);
    -o-text-stroke: var(--stroke-label);
    display: grid;
    place-content: center;
  }
  // input statements //
  // &.v-input--is-focused:not(.not_focus, .not_statement) .v-input__slot {--b: 1px solid rgba(255, 255, 255, 0.3)}
  // &.error--text:not(.not_error, .not_statement) .v-input__slot {--b: 1px solid var(--error)}
  &.v-input--is-disabled:not(.not_disabled, .not_statement) {opacity: var(--o-disabled); pointer-events: none}
}


//- defaut badge -//
.v-badge:not(.not_vuetify, .not) {
  --bg: var(--clr-badge);
  --c: var(--clr-inv);
  --b: initial;
  --fw: 400;
  --size: 20px;
  --t: initial;
  .v-badge__badge {
    display: grid;
    place-content: center;
    width: var(--size);
    height: var(--size);
    background: var(--bg) !important;
    color: var(--c) !important;
    border: var(--b) !important;
    border-radius: 50%;
    font-size: var(--fs, max(14px, 0.75em));
    font-weight: var(--fw);
    transform: var(--t);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
}


//- menu select (desplegable menu) -//
.v-menu__content {overscroll-behavior: contain}

.v-select-list {
  font-size: var(--resizer);
  font-family: var(--font2) !important;
  background: var(--secondary) !important;
  border-radius: $border-btn !important;
  overflow: hidden;
  :is(.v-list-item__title, span) {
    font-size: 1em;
    color: #ffffff !important;
    &::first-letter {text-transform: uppercase}
  }
  .v-list-item {
    min-height: 3em;
    &--active {
      background: $clr-btn !important;
      :is(.v-list-item__title, span) {color: $clr-text-btn !important}
    }
  }
}


//- dialog -//
.v-dialog {
  overscroll-behavior: contain;
  &::-webkit-scrollbar {display: none}
  // @include media(max, 500px) {margin-inline: 0}
}
