// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // alerts // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#alerts {
  .v-snack {
    @include parent;
    padding-inline: var(--margin-global);
    @include media(max, x-small) {font-size: 10px}
    justify-content: center;
    align-items: flex-start;
  }
  .v-snack__wrapper {
    min-width: 25em !important;
    background: var(--bg-snackbar);
    border-radius: 6px;
    padding: 10px 15px;
    animation: moveup .5s $ease-return;
    
    right: 0 !important;
    left: auto !important;
    .v-snack__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 0 !important;
      min-width: 100% !important;
      .v-btn--icon {
        max-width: max-content;
        height: max-content;
        max-height: max-content;
        min-height: max-content;
      }
    }
  }
}
