// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // footer // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#footer {
  transition: 0.5s $ease-return;
  padding: clamp(2em, 4vw, 4em);
  max-width: 80%;
  border-top-right-radius: 50px!important;
  border: 1px solid #000!important;
  justify-content: space-between;

  @include media(max, 1010px){
    display: none;
  }

  .title-media{
    font-family: var(--font7);
    font-weight: 700!important;
    font-size: 18px!important;
  }

  .user-media{
    font-family: var(--font4);
    font-weight: 400!important;
    font-size: 18px!important;
    color: #9A9EA6!important;
  }

}


.v-application .white {
  background-color: #FFFFFF !important;
  border: 2px solid #000000!important;
}
