// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // navbar // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#navbar {
  font-size: var(--resizer);
  height: var(--h-navbar) !important;
  animation: movedown .5s $ease-return;
  transition: 0.4s ease-in-out;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: var(--clr-btn);
  //   transition: 0.4s ease-in-out;
  // }
  // &.hide::before {opacity: 0}
  .v-toolbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    padding-inline: 60px;
    height: var(--h-navbar) !important;
    // overflow: hidden;
    // line
    @include media(min, small) {
      &::after {
        content: "";
        @include absolute(0,auto,0,0);
        width: calc(100% - var(--margin-global) * 2);
        height: 1px;
        background-color: var(--clr-line);
      }
    }
    .middle {
      display: flex;
      margin-left: auto;
      gap: 22px;
      a {
        --fw: 700;
        font-size: 14.193px;
        transition: .5s $ease;
        font-family: var(--font5);
        &.active {
          font-weight: 700!important;
        }
      }
    }
    .right {
      display: flex;
      gap: 1em;

      .btn-nav{
        background-color: #E1D8D1 !important;
        border: 2px solid #D7CBC1 !important;
        border-radius: 30px!important;
        box-shadow: none !important;
        max-height: 45px !important;
        min-height: 45px !important;
      }

      
      .v-btn {
        --max-w: 100px;
        --h: 32px;
        --min-h: 32px;
        --br: 30px;
        --fs: 14.193px;
      }

      .v-btn__content{
        height: 30px!important;
      }

      .v-select{
        padding-inline: 10px;
        border-radius: 30px;
        width: 130px!important;
        
        .v-select__selection{
          background: linear-gradient(99.45deg, #A093F0 7.5%, #5A9FF7 94.48%) !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          background-clip: text !important;
          font-weight: 700!important;
        }

        input{
          margin-top: 5px;
        }
        i{
          margin-top: 5px;
        }
      }
    }
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // menu navbar // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

#menuNavbar {
  i { color: #000 !important }

  .btn-nav{
    background-color: #E1D8D1 !important;
    border: 2px solid #D7CBC1 !important;
    border-radius: 30px!important;
    box-shadow: none !important;
    max-height: 45px !important;
    min-height: 45px !important;
  }
}


.landing-menu .v-list {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(36, 31, 58, 0.10);
  display: flex;
  flex-direction: column;
  gap: 6px;

  .v-list-item {
    border-radius: 10px;
    * { margin: 0 }

    &--active::before {
      background: linear-gradient(99deg, rgba(160, 147, 240, 0.10) 7.5%, rgba(90, 159, 247, 0.10) 94.48%) !important;
    }

    h6 {
      color: #241F3A !important;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500 !important;
    }

    p {
      color: #7C7989;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400 !important;
    }
  }
}