// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // farm-details // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#farm-details {
  @include parent;
  padding-inline: var(--margin-global);

  &-header {
    h1 {
      --fs: 2.2em;
      @include media(max, small) {--fs: max(26px, 1.625em)}
    }
    
    .container-profits {
      font-size: clamp(12px, 1vw, 16px);
      --fw: 700;
      --max-w: 883px;
      --br: 20px;
      gap: 5px;

      .grid {
        --gtc: repeat(4, 1fr);
        gap: 5px;
        &.hide {
          pointer-events: none;
          filter: blur(10px)
        }
        @include media(max, 600px) {
          --pi: center;
          --gtc: repeat(2, 1fr);
        }
        @include media(max, 300px) {--gtc: 1fr}
        
        > div {min-width: 9.375em}
      }
      
      * {font-family: var(--font1) !important}
      label {
        --fs: 1.3125em;
        text-transform: capitalize;
      }
      span {
        font-size: clamp(2em, 2.6vw, 2.6025em);
        --fw: 700;
      }
    }
  }

  .controls {
    @include media(max, small) {
      > aside:first-child + aside {
        flex-direction: row-reverse;
        @include media(max, 300px) {
          flex-direction: column-reverse;
          align-items: flex-start;
          justify-content: flex-start;
        }
        
        .search {--bg: #1A1917}
        
        div.alignr {margin-left: 0 !important}
      }
    }
  }

  &-content {
    --gs: clamp(20em, 20vw, 23.25em);
    --pi: start center;
    gap: 30px;
    &:has(> :only-child, > :first-child:nth-last-child(2)) {
      display: flex;
      align-items: center;
      > * {max-width: 23.25em !important}
    }
    // &:empty {
    //   background: center no-repeat url(../../sources/icons/empty.png);
    //   background-size: 12em;
    // }
    
    :not(.v-btn span) {font-family: var(--font2)}
    h3 {
      --fs: 21px;
      --fw: bold;
      --stroke: .4px;
    }
    label:not(.plain) {--fs: 13px}

    .v-btn {
      margin-inline: auto;
      &:not(:first-of-type) {
        --bg: hsl(43, 100%, 65%, .5);
        --c: #FFD566 !important;
      }
    }
  }

  .gradient-text{
    font-weight: 700!important;
    font-family:var(--font1)!important;
    background-image: linear-gradient(to right, #A093F0, #5A9FF7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .input-data-table{
    background-color: var(--card);
    border-radius: 10px;
    border: 1px solid #000;
    max-width: 250px;
    padding-inline: 10px;
    padding-block: 10px;
    height: 55px;

    ::placeholder{
      font-family: var(--font3);
      font-weight: 500;
      color: #767A89;
    }

    i{
      color: #767A89;
    }
  }


  .tooggle{
    background-color: transparent;
    border-radius: 10px;
  }

  .btn-toggle{
    height: 55px!important;
    min-height: 55px!important;
    width: 75px!important;
    min-width: 65px!important;
    background-color: var(--card);
    border: 1px solid #000!important;
  }

  .v-data-table tbody tr:has(.nopevents) {
    background-color: transparent !important;
    td {padding: 40px !important;}
  }

  .v-data-table tbody tr{
    background-color: var(--card) !important;
    border: solid 1px #000000!important;
  }

  .v-data-table td{
    background-color: var(--card) !important;
    border-radius: 0px!important;
    border-top: solid 1px #000000!important;
    border-bottom: solid 1px #000000!important;

    @include media(max, 840px){
      border-top: none!important;
      border-bottom: solid 1px #000000!important;
    }
  }

  .v-data-table tbody tr td:first-child{
    border-left: solid 1px #000000!important;
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;

    @include media(max, 840px){
      border-top-left-radius: 0px!important;
      border-bottom-left-radius: 0px!important;
      border-left: none!important;
      border-bottom: 1px solid #000000!important;
    }
  }

  .v-data-table tbody tr td:nth-child(6){
    border-right: solid 1px #000000!important;
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;

    @include media(max, 840px){
      border-top-right-radius: 0px!important;
      border-bottom-right-radius: 0px!important;
      border-right: none!important;
      border-bottom: none!important;
    }
  }

  .v-data-table th{
    --fm:var(--font2); 
    --c: #767A89; 
    font-weight: 700!important; 
    font-size: 16px;
  }

  .mobile-fields{
    @include media(max, 700px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }
  }
}


////////Barrita transversal del input/////////
//////////////////////////////////////////////


.v-input__slot:before{
  border-color: #fff!important;
}

.v-text-field > .v-input__control > .v-input__slot:before, 
.v-text-field > .v-input__control > .v-input__slot:after {
  width: 0%;
}