// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // login // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#login {
  .v-main__wrap {
    @include media(max, small) {--margin-global: 8em}
    @include media(max, 600px) {--margin-global: 5em}
    @include media(max, x-small) {--margin-global: 3em}
    
    padding-inline: var(--margin-global);
    padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important;
    
    & > * {
      font-size: var(--resizer);
      @include media(max, small) {
        font-size: var(--resizer-mobile)
      }
    }
  }

  .v-window-item > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: min(100%, max(270px, 24em));
    margin-inline: auto;
  }

  label {
    --fw: 900;
    --fs: max(15px, 1.35em);
    text-indent: .5ch;
      
    sup {
      font-size: 1.4em;
      top: 0;
    }
  }
  .v-btn {
    --w: max-content;
    --fs: max(15px, 1.25em);
    --p: .45em 1em;
  }

  #register-window > section{
    width: min(100%, max(270px, 28em));
    .v-input {
      --bg: var(--primary);
      
      &__prepend-outer {
        margin-block: 0;
        * {color: #fff !important}
        input {display: none}
        .v-input__append-inner {
          padding: 0;
          .v-icon {font-size: 1.1em}
        }
      }
    }
  }
}
