#xstarter {
  font-size: 16px;
  
  @media (max-width: 880px) { font-size: 12px }

  // Hero
  #hero {
    @media (max-width: 400px) { font-size: 10px }

    position: relative;
    isolation: isolate;
    padding-inline: clamp(3em, 8vw, 8.8125em);
    min-height: 628px;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    background-color: #EBE5E0;
    overflow: hidden;

    img { position: absolute }
    .decoration-corner-1 { display: none; }
    .decoration-corner-3 {
      left: 0;
      bottom: 0;
      transform: rotateY(180deg);
    }
    .decoration-corner-2 {
      right: 0;
      bottom: 0;
    }

    .decoration-middle-1 { display: none; }
    .decoration-middle-3 {
      left: 300px;
      bottom: -80px;
      transform: rotateY(180deg);
    }
    .decoration-middle-2 {
      right: 300px;
      bottom: -80px;
    }
    
    .decoration-last-3 { display: none; }
    .decoration-last-1 {
      width: 74.08px;
      left: 320px;
      bottom: 110px;
      transform: rotateY(180deg);
    }
    .decoration-last-2 {
      width: 74.08px;
      right: 320px;
      bottom: 110px;
    }
    @media (max-width: 880px) {
      img[class*="1"], img[class*="3"] { display: none !important }
    }


    * { text-align: center; }

    > div { max-width: 860px !important }

    h1 {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 3.25em;
      font-weight: 700 !important;
      letter-spacing: normal !important;
      line-height: normal;
    }

    p {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 2em;
      font-weight: 400 !important;
    }

    .v-btn {
      min-width: 161px;
      min-height: 48px;
      padding: 10px;
      border-radius: 30px;
      background: #000;

      span {
        font-size: 14px;
        color: #fff !important;
      }
    }

    img {
      position: absolute;
      z-index: -1;
      &:first-of-type {
        left: -200px;
        bottom: 0;
        translate: 0 270px;
        @media (max-width: 880px) { display: none }
      }

      &:last-of-type {
        right: -120px;
        bottom: 0;
        transform: rotateY(180deg);
        translate: 0 270px;
      }
    }
  }


  // content
  #content {
    position: relative;
    padding-top: 8.5625em;
    padding-bottom: 13.125em;
    padding-inline: 6.6875em;
    @media (max-width: 880px) { padding-inline: clamp(3em, 5vw, 5.125em) }

    h6 {
      font-family: "Poppins", sans-serif;
      font-size: 1.25em;
      font-weight: 700 !important;
      text-transform: capitalize;
      line-height: normal;
    }

    h3 {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 2.25em;
      font-weight: 600 !important;
      line-height: normal;
    }

    p {
      color: rgba(0, 0, 0, 0.70);
      font-family: "Avenir Next", sans-serif;
      font-size: 16px;
      font-weight: 500 !important;
      line-height: 1.8ch;
    }

    a {
      font-family: "Avenir Next", sans-serif;
      font-size: 16px;
      font-weight: 700 !important;
      line-height: normal;
      position: relative;
      width: max-content;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   background: var(--Linear, linear-gradient(99deg, #A093F0 7.5%, #5A9FF7 94.48%)) !important;
      //   height: 1.5px;
      //   width: 100%;
      //   left: 0;
      //   bottom: 0;
      // }
    }

    .grid {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 23.1875em), 1fr));
      gap: 54px;
    }

    .v-card {
      background: transparent !important;
      padding: clamp(0em, 1vw, 1.795375em);
      display: flex;
      flex-direction: column;
      gap: 11.36px;

      h3 {
        font-size: 1.9879375em;
        margin-bottom: 0;
      }

      img {
        width: 40px;
        border-radius: 0 !important;
      }
    }
  }
}
